* {
    background-color:darkslateblue;
    font-size: 10px;
    color:aliceblue;
}
h1 {
    font-size:3rem;
}
body {
   border: 10px solid goldenrod; 
   border-radius:25px;
   font-size:1.3rem;
}
img {
    height:150px;
    width: 200px;
}